
# Environnements virtuels Python
mon_env/
venv/
env/
*.venv

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Installations
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
