on:
 push:
    branches:
      - main
jobs:
 build_and_push:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout code
     uses: actions/checkout@v2
   - name: Set short SHA
     run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
   - name: build Docker image
     run: 
         docker build -t medkhalil05/devops_practice:${{ env.SHORT_SHA }} .
   - name: Log in to Docker Hub
     run:      
          echo "${{ secrets.DOCKERHUB_SECRET }}" | docker login -u "mohamedkhalil05" --password-stdin
   - name: Push Docker image
     run:
          docker push medkhalil05/devops_practice:${{ env.SHORT_SHA }}