on:
 push:
    branches:
      - main
jobs:
 build_and_push:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout code
     uses: actions/checkout@v2
   - name: Set short SHA
     run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
   - name: build Docker image
     run: 
         docker build -t mohamedkhalil05/devops_practice:${{ env.SHORT_SHA }} .
   - name: Log in to Docker Hub
     run:   
          echo "${{ secrets.DOCKERHUB_SECRET }}" | docker login -u "mohamedkhalil05" --password-stdin
   - name: Push Docker image
     run:
          docker push mohamedkhalil05/devops_practice:${{ env.SHORT_SHA }}
   - name: Configure git author
     run: |
          git config --global user.email "mohamed.aboussaad2-etu@etu.univh2c.ma"
          git config --global user.name "medkhalil05"       
   - name: update helm chart
     run: |
          sed -i 's|tag: .*|tag: "${{ env.SHORT_SHA }}"|g' devops_practice_h/values.yaml
          git add ./devops_practice_h/values.yaml
          git commit -m "Update image tag to ${{ env.SHORT_SHA }}"
          git push origin main       